[Unit]
Description=oFono2MM
After=polkit.service
Requires=polkit.service
After=ofono.service
Requires=ofono.service

[Service]
Type=dbus
BusName=org.freedesktop.ModemManager1
ExecStartPre=/usr/bin/sleep 15
ExecStart=/usr/bin/ofono2mm
StandardError=null
Restart=on-abort
CapabilityBoundingSet=CAP_SYS_ADMIN
ProtectSystem=true
ProtectHome=true
PrivateTmp=true
RestrictAddressFamilies=AF_NETLINK AF_UNIX
NoNewPrivileges=true
User=root

[Install]
WantedBy=multi-user.target
Alias=dbus-org.freedesktop.ModemManager1.service
